__pycache__/
*.pyc
*.pyo
*.pyd


.venv/
venv/
ENV/


.git/
.gitignore


.dockerignore
.docker-compose.override.yml


.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db


*.log
*.out


!app/
!frontend/
!docker-compose.yaml
!Dockerfile
!requirements.txt
