__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
ENV/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db


*.log
*.out
.env

postgres_data/
*.pid


node_modules/
dist/
build/


!app/
!frontend/
!docker-compose.yaml
!Dockerfile
!requirements.txt
